/* line 1, app/assets/stylesheets/admin/home.scss */
.container {
  margin: 4rem;
}

/* line 5, app/assets/stylesheets/admin/home.scss */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
