<div class="navbar">
  <h5 class="text-center mt-5">DatesCalendar API Documentation</h5>
  <div class="infos mt-5">
    <p class="my-0"><span>Version:</span> 1.0</p>
    <p class="my-0"><span>Last Updated:</span> 20/08/2024</p>
  </div>
  <div class="endpoints mt-5">
    <ul class="nav flex-column text-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Get Started</a>
      </li>
      <p class="text-center mt-3 mb-0">Endpoints</p>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Availabilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Appointments</a>
      </li>
    </ul>
  </div>
</div>
