<div data-controller="list-updater">
  <div data-controller="modal-service" style="width: 75vw" class="container d-flex flex-column align-items-center mt-3">
    <h1 class="text-center">Availabilities administration</h1>
    <ul>
      <li>Total Availabilities : <%= @availabilities.count %></li>
    </ul>
    <%= render "admins/shared/select_users", users: @users if @users.any? %>
    <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#modalForm">
      Create new Availability
    </button>
    <%= render "admins/shared/modal_form", model: @availability %>
    <table class="table table-dark table-striped my-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Available</th>
          <th scope="col">User ID</th>
          <th scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody data-list-updater-target="list" >
        <%= render "availabilities_infos", availabilities: @availabilities%>
      </tbody>
    </table>
  </div>
</div>
