<div class="container d-flex flex-column align-items-center" style="width: 75vw">
  <h1 class="text-center">Availabilities administration</h1>
  <ul>
    <li>Total Availabilities : <%= @availabilities.count %></li>
  </ul>

<table class="table table-dark table-striped my-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Available</th>
      <th scope="col">User ID</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <% @availabilities.each do |availability| %>
      <%= render "availability_infos", availability: availability%>
    <% end %>
  </tbody>
</table>
</div>
