.navbar {
  background-color: #192134;
  height: 6vh;
  min-height: 50px;
  .navbar-nav {
    & a {
      &:hover {
        color: $green !important;
        transition: color 0.4s ease-in-out;
      }
    }
    .active {
      color: $green !important;
    }
  }
}
