.navbar {
  background-color: #f4f5f8;
  width: 20vw;
  min-width: fit-content;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  .infos {
    align-self: flex-start;
    margin-left: 3rem;
    span {
      color: #051dff;
    }
  }
  .endpoints {
    p {
      text-decoration: underline;
    }
  }
}
