<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-modal-service-target="modal">
  <div class="alert alert-danger alert-dismissible fade d-flex align-items-center" id ="alert-modal" style="height: 8vh;" role="alert">
    <button type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new <%= model.class.name %></h1>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "admins/#{model.class.name.pluralize.downcase}/form", model.class.name.downcase.to_sym => model %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
